.campaign-container{
    max-width: 100vw;
    max-height: 100vh;
}

body,a,span,p,h1,h2,h3{
    font-family: 'Quicksand', sans-serif;
}

.wrapper-campaign{
    max-width: 100%;
}
  
/* .campaign-main{
    display: flex;
    margin-left: 3%;
    margin-bottom: 100px;
} */

.campagin-first{
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.campaign-content{
    width: 65%;
    left: 0;
}

/* campaign-data right side */

.campaign-data{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    /* background-color: white;
    padding: 20px 20px;
    box-shadow: 3px 4px 12px rgb(0 0 0 / 0.3);
    border-radius: 10px; */
}

/* .campagin-title{
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    font-size: 30px;
    margin-bottom: -10px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #ff9900, #ff6a00) #eb9006;
    padding: 8px 12px;
    border-radius: 10px;
    color: black;
} */

.campagin-title{
        font-weight: bold;
        font-size: 24px;
}


/* donation box */
.scrollable-donation-box2 {
    position: absolute;
    right: 5%;
    top: 450px;
    z-index: 1;
    /* max-height: calc(100vh - 220px); */
    overflow-y: auto;
  }

.cards-campaign{
    display: flex ;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.card-camp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-camp p{
    font-size: 22px;
    font-weight: 600;
}

.card-camp div{
    font-size: 20px;
    padding: 8px 14px;
    border-radius: 20px;
    font-weight: 800;
    color: white;
    width: 150px;
    text-align: center;
}

.card-money{
    background-color: orange;
}

.card-progress{
    background-color: rgb(5, 201, 5);
}

.card-require{
    background-color: orangered;
}

.products-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

/* product card */
.product-card{
    display: flex;
    gap: 30px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 3px 4px 12px rgb(0 0 0 / 0.3);
}

.product-description{
    width: 250px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-price{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: start;
    margin-top: -10px;
}

.product-name{
    font-size: 20px;
    font-weight: 700;
}

.product-btn{
    display: flex;
    width: 100%;
}


.campagin-text{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5;
}

.campagin-text :nth-child(1){
    font-size: 18px;
    font-weight: 600;
}

/* campaign cart */
.campaign-cart{
/*     margin-left: -60px; */
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    
    .campaign-main{
        justify-content: center ;
        
    }
    .mobile-view {
        position: relative !important;
        top: 100px;
        left: 0;
        z-index: 1; /* Adjust z-index as needed */
        /* background-color: white; Adjust background color as needed */
        /* padding: 10px; Adjust padding as needed */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
      }
      
      

    .campaign-content{
        width: auto;
    }
    .campagin-title {
        font-size: 25px;
        margin-top: -25px;
        font-weight: 600;
        text-align: center;
        /* background: linear-gradient(to right, #ff9900, #ff6a00) #eb9006; */
        padding: 8px 12px;
        border-radius: 10px;
        color: black;
    }
    .text-left-product{
        margin-bottom: 10px !important;
    }
    .product-head{
        margin-top: 100px !important;
    }
    .product-img{
        width: 50px;
        height: 50px;
    }

    .products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px !important;
  }

  .product-price{
    margin-top: -10px;
  }

  .product-card {
    width: 100%;
    margin-bottom: 20px; /* Adjust spacing between items */
    gap: 3px;
  }
      .campagin-first .campaign_image{
        display: none;
      }


      .top-vid{
        height: 300px !important;
        width: 100%;
      }
      .product-btn {
        display: flex;
        width: 70%;
        font-size: 15px;
    
    }
  }

  @keyframes glow {
    0% {
      transform: scale(1);
      box-shadow: 0px 0px 10px orangered;
      background-color: #FE6104; /* Add this line */
    }
    100% {
      transform: scale(1.1);
      box-shadow: 0px 0px 20px rgb(201, 133, 7);
      background-color: orange; /* Change to your desired color */
    }
  }

