@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
a {
  text-decoration: none;
}
* {
  font-family: "Quicksand", serif;
  box-sizing: border-box;
}

body,
a,
span,
p,

ul,li{
  font-family: 'Robot', sans-serif !important;
}
h1{
  font-family: 'Robot', sans-serif !important;
}
h2{
  font-family: 'Playfair Display', sans-serif !important;
}
h3 {
  font-family: 'Playfair Display', sans-serif !important;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
:root {
  --primary: rgb(255, 100, 0);
}

.paypal-buttons-context-iframe {
  position: relative;
  z-index: 0;
}

.floating-icon {
  position: fixed;
  bottom: 190px;
  left: 0px;
  z-index: 999; /* Adjust the z-index to ensure it appears above other content */
  cursor: pointer;
}
.phone-icon{
  width: 35px;
  bottom: 150px !important;
}
.whatsapp-icon{
  width: 35px;
}

.youtube-icon{
  width: 35px;
  bottom: 230px !important;
}

.instagram-icon{
  width: 35px;
  bottom: 270px !important;
}
.facebook-icon{
  width: 35px;
  bottom: 310px !important;
}


.facebook-name{
  font-size: 15px;
  color: white;
  z-index: 99999;
  position: absolute;
  bottom: 313px;
  left: 3%;
  text-transform: uppercase;
  background-color: #2596be;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  position: fixed;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 18px solid #2596be;
	border-bottom: 15px solid transparent;
  position: absolute;
  z-index: 9999;
  left: -10%;
}

.facebook-icon:hover + .facebook-name{
  display: block;
  transition: 200ms all;
  animation: forwards;
}

.Youtube-name{
  font-size: 15px;
  color: white;
  z-index: 99999;
  position: absolute;
  bottom: 230px;
  left: 3%;
  text-transform: uppercase;
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  position: fixed;
}

.triangle-left-yt {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 18px solid red;
	border-bottom: 15px solid transparent;
  position: absolute;
  z-index: 9999;
  left: -10%;
}

.yt:hover + .Youtube-name{
  display: block;
  transition: 200ms all;
  animation: forwards;
}

.instagram-name{
  font-size: 15px;
  color: white;
  z-index: 99999;
  position: absolute;
  bottom: 270px;
  left: 3%;
  text-transform: uppercase;
  background-color: rgba(217,40,144,255);
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  position: fixed;
}

.triangle-left-ig {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 18px solid rgba(217,40,144,255);
	border-bottom: 15px solid transparent;
  position: absolute;
  z-index: 9999;
  left: -10%;
}

.ig:hover + .instagram-name{
  display: block;
  transition: 200ms all;
  animation: forwards;
}

.whatsapp-name{
  font-size: 15px;
  color: white;
  z-index: 99999;
  position: absolute;
  bottom: 190px;
  left: 3%;
  text-transform: uppercase;
  background-color: #4cb051;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  position: fixed;
}

.triangle-left-wa {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 18px solid #4cb051;
	border-bottom: 15px solid transparent;
  position: absolute;
  z-index: 9999;
  left: -10%;
}

.wa:hover + .whatsapp-name{
  display: block;
  transition: 200ms all;
  animation: forwards;
}

.phone-name{
  font-size: 15px;
  color: white;
  z-index: 99999;
  position: absolute;
  bottom: 150px;
  left: 3%;
  text-transform: uppercase;
  background-color: #2196f3;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  position: fixed;
}

.triangle-left-ph {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 18px solid #2196f3;
	border-bottom: 15px solid transparent;
  position: absolute;
  z-index: 9999;
  left: -10%;
}

.ph:hover + .phone-name{
  display: block;
  transition: 200ms all;
  animation: forwards;
}

/* 
@media screen and (min-width: 1000px) {
  .yt{
    background-color: red;
  }
  .fb{
    background-color: #2596be;
  }
  .ig{
    background-color: rgba(217,40,144,255);
  }
  .wa{
    background-color:#4cb051;
  }
  .ph{
    background-color: #2196f3;
  }
} */

@media screen and (max-width: 1000px) {
  .phone-icon{
    width: 20px !important;
    bottom: 163px !important
  }
  .whatsapp-icon{
    width: 20px !important;
  }
  
  .youtube-icon{
    width: 20px !important;
    bottom: 215px !important;
  }
  
  .instagram-icon{
    width: 20px !important;
    bottom: 240px !important;
  }
  .facebook-icon{

    width: 20px !important;
    /* top: 45%; */
    bottom: 265px !important;
  }
  .facebook-name{
    font-size: 10px;
    top: 46%;
    left: 6%;
    height: 4%;
  }

  .floating-icon{
    width: 2%;
  }
  .whatsapp-name{
    font-size: 10px;
  }
}

@media screen and (max-width: 600px){
  .phone-icon{
    width: 20px !important;
    margin-top: -10px;
  }
  .whatsapp-icon{
    width: 20px !important;
  }
  
  .youtube-icon{
    width: 20px !important;
  }
  
  .instagram-icon{
    width: 20px !important;
 
  }
  .facebook-icon{

    width: 20px !important;
    /* top: 45%; */
  }
  .facebook-name{
    font-size: 10px;
    top: 46%;
    left: 6%;
    height: 4%;
  }

  .floating-icon{
    width: 2%;
  }
  .whatsapp-name{
    font-size: 10px;
  }
}